.why{
    padding: 120px 12px;
    max-width: 1700px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.why h2{
    font-size: 2.66rem;
    margin-bottom: var(--mg-bottom);
}

.grid-boxs{

    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 3rem;
}

.box h3,p{
    margin-bottom: var(--mg-bottom);
}
.box  p{
    text-align: left;
    font-size: 1.1rem;
}


.icon-box{
    max-width: 150px;
}


@media (min-width:1042px){
    .grid-boxs{
        grid-template-columns: repeat(3,1fr);
    }
}